@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
  --primary-color: #c2bee7;
  --primary-color-light: #f2f1ff;
  --primary-color-dark: #6e6c92;
  --secondary-color: #0a1227;
  --secondary-color-light: #605f66;
  --secondary-color-dark: #323235; 
}

html,
body {
  padding: 0;
  margin: 0;
    height: 100%;
    width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}