.container {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    height: 100%;
}

.container_title {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--primary-color-light);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--primary-color-dark);
}

.article {
    padding: 10px;
    color: white;
    font-size:20px;
    font-weight: 350;
    height: 100%;
    background-color: var(--secondary-color-light);
    overflow-y: auto;
}

.code {
    overflow: auto;
    background: var(--primary-color-dark);
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
    border: inset var(--secondary-color-dark) 5px;
    white-space: pre-line;
}