.container {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    height: 100%;
}

.container_title {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--primary-color-light);
    position: sticky;
    top: -20px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--primary-color-dark);
}

.article {
    padding: 10px;
    font-size:20px;
    font-weight: 350;
    height: 100%;
    background-color: var(--secondary-color-light);
}