.title {
    display: grid;
    background-color: var(--primary-color);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
}

.title article {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 3rem;
}

.title article:nth-of-type(2) {
    background-color: aliceblue;
    position: relative;
    color: black;
    transition: all 1s ease-in-out;
}

.title article:nth-of-type(2) img {
    transition: filter 2s ease-in-out
}

.title article:nth-of-type(2):hover {
    filter: drop-shadow(0 10px 5px rgba(56, 56, 56, 0.95));
    background-color: black;
    color: var(--primary-color);
}

.title article:nth-of-type(2):hover img {
    filter:brightness(.3) invert(100)
}

.title article:nth-of-type(2)::after {
    content: "Consultar documentação";
    position: absolute;
    bottom:5px;
    right: 15px;
    font-style: italic;
    font-size: 18px;
    font-weight: 300;
}