.container {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
    height: 100%;
    direction: ltr;
}

.container_rtl {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
    height: 100%;
    direction: rtl;
}

.container_title {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color-light);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 25;
}

.title {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.article {
    padding: 10px;
    color: white;
    font-size:20px;
    height: min-content;
    background-color: var(--secondary-color-dark);
}

.article > * {
    margin: 10px 0;
}